* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1382px;
    padding: 0 15px;
    margin: 10px auto;
}
header {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}
.header-logo{
    width: 80px;
    margin-top: 0;
    float:left;
    filter: brightness(130%);
}
.header-text{
    margin-top: 6px;
    padding-left: 120px;
    padding-top: 18px;
    width: 350px;
    height: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;

    color: rgb(12, 95, 182);

    mix-blend-mode: normal;
}
.body-left{
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    margin: 0;
}
.body-right{
    width: 40%;
    display: inline-block;
}
.left-img{
    width: 93%;
    float: left;
    filter: brightness(110%);

}
.left-img-signup{
    width: 85%;
    float: left;
    filter: brightness(100%);
    margin-left: -60px;

}
.body-header{

    color: rgb(12, 95, 182);
    font-style: normal;
    padding-top:100px;
    text-align: center;
    font-size: 50px;
}
.user-input{
    margin-top: 20px;
    font-size: 21px;
    float: left;
    padding:22px;
    width: 50%;
}
.password-input{
    margin-top: 20px;
    font-size: 21px;
    padding:22px;
    width: 50%;
    -webkit-text-security: disc;
}
.Submit-btn{
    background-color: rgb(47, 139, 234);
    width: 100%;
    padding: 15px;
    font-size: 22px;
    border: none;
    color: rgba(255, 255, 255, 0.92);
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 5px rgb(24, 96, 168);
    opacity: 0.95;
}
.Submit-btn:hover{
    opacity: 1;
    background-color: rgb(36, 134, 238);

}
.Submit-btn:active{
    background-color: rgb(33, 164, 211);
    position: relative;
    top: 5px;
    box-shadow: none;
}
.signup{
    float:left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 21px;
    padding:18px;
    width: 100%;
}
.body-header-signup{

    color: rgb(12, 95, 182);
    font-style: normal;
    padding-top: 40px;
    text-align: center;
    font-size: 50px;
}