<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting History</title>
</head>
<body>
<h1>Lịch sử tư vấn</h1>
<table>
    <thead>
    <td>STT</td>
    <th>Ngày</th>
    <th>Thời gian</th>
    <th>Sinh viên</th>
    <th>Ghi chú</th>
    <th>Trạng thái</th>
    <th>Sửa ghi chú</th>
    </thead>
    <tbody>
    <tr th:each="l,itrStat:${list}">
        <td th:text="${itrStat.index + 1}"></td>
        <td th:text="${l.date}"></td>
        <td th:text="${l.time_start}"></td>
        <td>
            <p th:text="${l.student_name}"></p>
            <p th:text="${l.student_phone}"></p>
            <p th:text="${l.student_email}"></p>
        </td>
        <td th:text="note"></td>
        <td th:switch="${l.status}">
            <span th:case=1>Đang chờ</span>
            <span th:case=2>Xác nhận</span>
            <span th:case=3>Hủy</span>
            <span th:case=4>Hoàn thành</span>
        </td>
        <td>
            <form th:action="@{/meeting/expert/note}" method="post">
                <textarea type="text" name="note"></textarea>
                <input th:value="${l.meeting_id}" name="id" hidden>
                <button type="submit">Ghi nhận</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>